

<div class="filter">
  <h4>Brand:</h4>
  <div *ngFor="let option of options" class="brands">
    <div class="container">
    <label>
     <input type="checkbox"
             name="options"
             value="{{option.value}}"
             [(ngModel)]="option.checked"/>
      <span class="checkmark"></span>{{option.name}}
    </label>
    </div>
  </div>
<!--  <button (click)="onFilterBrand()">Accept</button>-->
  <!--  <button (click)="onFilterBrand()"></button>-->
  <p style="display:none;">{{selectedOptions}}</p>
</div>
