<div class="bg">
  <label class="container">Clear all filters
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <div class="line" style="top: 360px">
    _____________________
  </div>
  <div class="line" style="top: 555px">
    _____________________
  </div>
  <div class="line" style="top: 770px">
    _____________________
  </div>
</div>

<app-size></app-size>
<app-brand-filter></app-brand-filter>
<app-color-filter></app-color-filter>
<!--<app-price-filter></app-price-filter>-->
<app-list-of-products></app-list-of-products>
