
<div class="under-header-panel">
  <div class="bg">
    <label class="container" >Clear all filters
      <input name="clear" type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
  </div>
  <app-shoe-search style="text-align: center"
    (searchProducts)="searchProducts($event)"
  ></app-shoe-search>
</div>


<div class="main_content">
  <div class="all_filters">
    <app-brand-filter></app-brand-filter>
      <div class="line" style="top: 360px">
        _____________________
      </div>
    <app-brand-filter></app-brand-filter>
      <div class="line" style="top: 555px">
        _____________________
      </div>
    <app-size></app-size>
      <div class="line" style="top: 770px">
        _____________________
      </div>
    <app-color-filter></app-color-filter>
</div>
  <app-list-of-products [shoesNew]="shoes"></app-list-of-products>
</div>
