<div class="main_content">
  <div class="all_filters">
    <div class="bg">
      <label class="container" >Clear all filters
        <input name="clear" type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>
    <app-brand-filter (brandFilterEvent)="filterBrand($event)"></app-brand-filter>
      <div class="line" style="top: 360px">
        _____________________
      </div>
    <app-price-filter (priceFilterEvent)="filterPrice($event)"></app-price-filter>
      <div class="line" style="top: 555px">
        _____________________
      </div>
    <app-size (sizeFilterEvent)="filterSize($event)"></app-size>
      <div class="line" style="top: 770px">
        _____________________
      </div>


    <app-color-filter (colorFilterEvent)="filterColor($event)"></app-color-filter>
    <button (click)="acceptFilters()">Accept</button>
</div>

  <div class="list">
    <div class="search">
      <app-shoe-search
        (searchProducts)="searchProducts($event)"
      ></app-shoe-search>
    </div>
    <div class="list_of_products">
    <app-list-of-products [shoes]="shoes"></app-list-of-products>
    </div>
  </div>

</div>

<app-preloader></app-preloader>
