# Default ignored files
/workspace.xml
/moveBE/BEforDB/pycache
/moveBE/BEforDB/migrations/pycache
/moveBE/moveBE/pycache
/moveBE/pycache
/venv
/.idea/misc.xml
/.idea/teamworks-project.iml
/moveBE/BEforDB/__pyache__
/moveBE/BEforDB/migrations/__pyache__
/moveBE/moveBE/__pyache__
