<form  *ngIf="showCart" >
  <div class="cart">

    <img class="triangle" src="../../../../../assets/img_login/Polygon.png" height="15" width="35"/>

    <div class="container" (scroll)="showCart">

      <label > Shopping Cart :</label>
      <div class="item">
        <form>
          <div class="left-box">
            <img src="" alt="">
          </div>
          <div class="right-box">
            <button class="remove">✖</button>
            <div class="name">
              <h1>brand</h1>
              <h1>model</h1>
            </div>
            <div class="param">
              <h1>Size: 38</h1>
              <div class="price"><h1>3000$</h1></div>
            </div>
            <div class="quantity">
              <button class="minus"> - </button>
              <div class="count">
                <h2>5</h2>
              </div>
              <button class="plus"> + </button>
            </div>
          </div>

        </form>
      </div>
      <div class="item">
        <form>
          <div class="left-box">
            <img src="" alt="">
          </div>
          <div class="right-box">
            <button class="remove">✖</button>
            <div class="name">
              <h1>brand</h1>
              <h1>model</h1>
            </div>
            <div class="param">
              <h1>Size: 38</h1>
              <div class="price"><h1>3000$</h1></div>
            </div>
            <div class="quantity">
              <button class="minus"> - </button>
              <div class="count">
                <h2>5</h2>
              </div>
              <button class="plus"> + </button>
            </div>
          </div>

        </form>
      </div>
      <div class="underline">
        <label style="margin-bottom: 10px;"> Subtotal :</label>
        <div class="space-line align-center"> </div>
      </div>
      <button  type="submit" id="logbtn" class="loginbtn">Chekout</button>

    </div>
  </div>

</form>
