<form  *ngIf="showCart"  >
  <div class="cart" >

    <img class="triangle" src="../../../../../assets/img_login/Polygon.png" height="15" width="35"/>

    <div class="container" >

      <label > Shopping Cart :</label>
      <div class="item" *ngFor=" let item of cart">
        <form>
          <div class="left-box">
            <img src="{{item.image}}" width="120" height="100" style=" border-radius: 10px 0 0 10px;" alt="">
          </div>
          <div class="right-box">
            <button (click)="remove(item.size_id)" class="remove">✖</button>
            <div class="name">
              <h1>{{item.brand}}</h1>
              <h1>{{item.model}}</h1>
            </div>
            <div class="param">
              <h1>Size: {{item.size}}</h1>
              <div class="price"><h1>{{item.price}}$</h1></div>
            </div>
            <div class="quantity">
              <button (click)="minus(item.size_id, item.quantity)" class="minus"> - </button>
              <div class="count">
                <h2>{{item.quantity}}</h2>
              </div>
              <button (click)="plus(item.size_id)" class="plus"> + </button>
            </div>
          </div>

        </form>
      </div>
      <div class="underline">
        <label style="margin-bottom: 10px;"  > Subtotal :   {{sum()}}$ </label>
        <div class="space-line align-center"> </div>
      </div>
      <button  type="submit" class="btn">Chekout</button>

    </div>
  </div>

</form>
