
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700,700i&display=swap');
*{
  font-family: Montserrat,sans-serif;
  font-size: 16px;

}
.cart{
  position: absolute;
  //width: 300px;
}
.triangle {
  margin-left: 175px;
  margin-bottom: -4px;
}

.container {
  padding: 16px;
  width: 280px;
  //height: 380px;

  background: #EFEFEF;
  border-radius: 0 0 10px 10px;
}

label{
  color: black;
  font-weight: bolder;
  margin-bottom:20px ;
}

.item{
  margin-top: 10px;
  width: 100%;
  height: 100px;
  background-color: #6c757d;
  border-radius: 10px;

}

.left-box{

  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  width: 40%;
  height: 100px;
  border-radius: 10px 0 0 10px;
  background-color: #071222;
}

.right-box{
  position: absolute;
  box-sizing: border-box;
  left: 40%;
  width: 55%;

  height: 100px;
  border-radius: 0 10px 10px 0;
  background-color: dimgray;

  .remove{
    position: absolute;
    border-radius: 10px;
    font-weight: bolder;
    left: 138px;
    border: none ;
    background: transparent;
    cursor: pointer;
    padding-bottom: 20px;
    //height: 10px;
    //width: 10px;
  }
  .name{
    text-align: center;
    margin-top: 10px;
  }
  .param{
    width: 160px;
    h1{
      font-size: 14px;
    }

    padding: 10px;
    display: inline-flex;

    .price h1{
      margin-left: 50px;
    }
  }
  .quantity{
    button{
      border-radius: 20px;
      height: 25px;
      width: 25px;
      background: transparent;
    }
    .minus{
      margin-left: 16px;
    }
    display: inline-flex;
    margin-top:-10px;
    .count{
      width: 60px;
      text-align: center;
      border: none;
      border-radius: 5px;
      margin-left: 15px;
      margin-right: 15px;
      background: linear-gradient(white,silver,gray);
      color: black;
      h2{
        font-weight: bolder;
        margin-top: 5px;
      }

    }

  }

}
.underline{
  margin: 10px 0 10px 0;
}
.space-line{
  margin-top: 10px;
  height: 1.5px;
  background: dimgray;
  width: 100%;
  border-radius: 50px;
}

.loginbtn{
  width: 10%;
  min-width: 120px;
  height: 40px;
  font-size: 18px;
  line-height: 22px;
  background: #004BA8;
  border-radius: 10px;
  border: none ;
  color: #EFEFEF;

}
button:hover{
  cursor: pointer;
  opacity: 0.9;
}

