<form action="">
  <input type="text" placeholder="Search" id="name" required="" name="name" [(ngModel)]="name" >
  <button type="submit" value="search" (click)="onSubmit()"><img src="../assets/img/search--v1.png"></button>
</form>
<div class="list-of-products">
			<div class="product" *ngFor="let shoe of shoes">
				<img src="https://brooklynstore.com.ua/content/images/30/zhenskie-krossovki-adidas-originals-falcon-w-black-grey-multi-0-18487358358211_small11.jpg" alt="">
				<div class="info">
					<h4>{{ shoe.brand }} {{shoe.model}}</h4>
					<h5>{{ shoe.price }}</h5>

			  </div>
		  </div>
</div>


