*{
	font-family: Montserrat;
    font-style: normal;
    font-size: 1.3vw;
    font-weight:500;
}

img{
	width: 17em;
	height: 12em;
}
.list-of-products{
  margin-left: 50px;
  margin-right: 50px;
	.product{
    float: left;
		padding: 10px;
	}

}
