*{
	font-family: Montserrat;
    font-style: normal;
    font-size: 1.3vw;
    font-weight:500;
}

.list-of-products{
  //margin-left: 50px;
  //margin-right: 50px;
	.box{
    float: left;

    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
	}

}
.popular {


  color: #EFEFEF;
  font-family: 'Montserrat', sans-serif;

  width: 167.22px;
  height: 46.17px;
  background: #004BA8;
  border-radius: 10px;
  margin-top: 12px;
  border: none ;

}

.description{
  padding-top: 15px;
  padding-bottom: 20px;
  & h5{
    font-style: italic;
    margin-top: 15px;
  }
  margin-top: 10px;
}

.shoes {


  width: 250.82px;
  height: 165.68px;
  border-radius: 10px;


}

