
<div class="cont" >
  <div class="full_master" *ngFor="let colors of shoes[0].shoe.color; index as i">
    <div *ngIf="shoes[0].shoe.color[i] === radioForColor()">
    <label class="container" (click)="emitColor()">
    <input type="radio" name="{{shoes[0].shoe.color[i]}}" checked
                   [routerLink]="['/products', shoes[0].shoe.id, shoes[0].shoe.color[i]]">
    <span class="checkmark"></span>

    <div class="top">{{shoes[0].shoe.color[i]}}</div>

  </label>
    </div>
    <div *ngIf="shoes[0].shoe.color[i] !== radioForColor()">
      <label class="container" (click)="emitColor()">
        <input type="radio" name="{{shoes[0].shoe.color[i]}}"
               [routerLink]="['/products', shoes[0].shoe.id, shoes[0].shoe.color[i]]">
        <span class="checkmark"></span>

        <div class="top">{{shoes[0].shoe.color[i]}}</div>

      </label>
    </div>


</div>
</div>

