<div class="cont">

  <label class="container" >
    <input type="radio" name="color">
    <span class="checkmark"></span>
    <div class="top">Black</div>
  </label>

  <label class="container">
    <input type="radio" name="color">
    <span class="checkmark"></span>
    <div class="top">White</div>
  </label>

  <label class="container">
    <input type="radio" name="color">
    <span class="checkmark"></span>
    <div class="top">Red</div>
  </label>

  <label class="container">
    <input type="radio" name="color">
    <span class="checkmark"></span>
    <div class="top">Blue</div>
  </label>
  <label class="container">
    <input type="radio" name="color">
    <span class="checkmark"></span>
    <div class="top">Pink</div>
  </label>

</div>
