<div class="container content-asset-container content-page">
  <div class="content-left-col" id="top">
    <h3><span style="font-size: 3.5rem; ">Frequently Asked Questions</span></h3>
    <hr>
    <br>
    <ul style="padding-left: 10px;">
      <div class="faqLink"><a href="faq#a_2"><span style="color: #000000; "><u>Can I change or cancel my order once it has been placed?</u></span></a></div>
      <div class="faqLink"><a href="faq#a_3"><span style="color: #000000; "><u>How do I return or exchange an item?</u></span></a></div>
      <div class="faqLink"><a href="faq#a_4"><span style="color: #000000; "><u>What types of payment are accepted?</u></span></a></div>
      <div class="faqLink"><a href="faq#a_8"><span style="color: #000000; "><u>Do you ship internationally?</u></span></a></div>
      <div class="faqLink"><a href="faq#a_12"><span style="color: #000000; "><u>What if I have a defective or damaged item?</u></span></a></div>
      <div class="faqLink"><a href="faq#a_14"><span style="color: #000000; "><u>Where can I find a Store?</u></span></a></div>
      <div class="faqLink"><a href="faq#a_15"><span style="color: #000000; "><u>How do I care for my shoes?</u></span></a></div>
    </ul>

    <br>
    <div>
      <h3 id="a_2">Can I change or cancel my order once it has been placed?</h3>
      <hr>
      <p>
        Unfortunately, no. Once your order has been placed it is sent to our warehouse for processing.
        You will need to return the original package to obtain a refund.
        Please call <a href="tel:+380930000000"><u>+380930000000</u></a> to initiate a return.
      </p>

    </div>
    <br>
    <div>
      <h3 id="a_3">How do I return or exchange an item?</h3>
      <hr>
      <p>
        Unfortunately, at this time we do not offer direct exchanges.
        To exchange an item, you must return the original item and place a new order.
        For more information, please call <a href="tel:+380930000000"><u>+380930000000</u></a>
        or via <a href="move.gmail.com"><u>move.gmail.com</u></a>.
      </p>
    </div>
    <br>

    <br>
    <div>
      <h3 id="a_4">What types of payment are accepted?</h3>
      <hr>
      <p>We accept payment by debit/credit cards and PayPal. </p>
    </div>

    <br>
    <div>
      <h3 id="a_8">Do you ship internationally?</h3>
      <hr>
      <p>No. We deliver only Ukraine. </p>
    </div>

    <br>
    <div>
      <h3 id="a_12">What if I have a defective or damaged item?</h3>
      <hr>
      <p>
        If you have received a damaged item or believe an item is defective,
        please contact Customer Service at <a href="tel:+380930000000"><u>+380930000000</u></a>
        or via <a href="move.gmail.com"><u>move.gmail.com</u></a>.
      </p>
    </div>
    <br>

    <div>
      <h3 id="a_14">Where can I find a Store?</h3>
      <hr>
      <p>
        You can find your nearest MOVE Store via our online <a href="maps.google.com" target="_blank"><u>(((сторінка Насті ебаут ас)))</u></a>.
      </p>
    </div>

    <br>
    <div>
      <h3 id="a_15">How do I care for my shoes?</h3>
      <hr>
      <p>

      <p>
      Please refer to the individual care instructions provided on your clothing. Care instructions will vary depending on material and type of clothing. In general, avoid putting clothing in the dryer, as it may cause shrinkage. To prevent printed graphics and embroidery from damage, wash and iron your clothing inside out. </p>

      <p>All shoes are designed with durable materials that require little to no maintenance. However, there are some simple ways to keep your shoes fresh and in top condition for even longer. </p>
      <br>
      <strong>General Care:</strong>
      <ul style="padding-left: 20px">
        <li>Clean your shoes immediately after use if they are exposed to mud or dirt</li>
        <li>Use your shoes only for their intended purpose</li>
        <li>Dry your shoes out by removing the foot bed and allowing them to air dry</li>
        <li>Pack your shoes with crumpled newspaper when you take them off to help them retain their shape</li>
        <li>Never machine-wash or machine-dry your shoes</li>
        <li>Keep your shoes away from sources of extreme heat, such as radiators, dryers, or space heaters</li>
      </ul>
      <br>
      <strong>Material Cleaning Instructions:</strong>

      <ul style="padding-left: 20px">
        <li>Leather: Hand wash using a soft cloth dampened with mild soap and cold water. Do not immerse or soak in water.</li>
        <li>Nylon and canvas: Using a soft cloth, gently scrub the uppers using mild soap and cold water and allow to air dry. Do not bleach or use harsh cleaning agents.</li>
        <li>Suede and nubuck: Use a brush specifically designed for suede to keep the outside surface of your shoes clean. Do not get wet. </li>
        <li>Synthetic leather: Use a soft cloth or soft bristle-brush to gently scrub the uppers using mild soap and cold water and allow to air dry. </li>
      </ul>
      <br>
      <div id="almost_button">
      <a href="faq#top" id="but">Top</a>
      </div>
      <p>&nbsp;</p>
    </div>
  </div>
</div>
