* {
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

#but{
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #071222;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #071222;
  transition: .2s ease-in-out;
}
#but:before {
  content: "";

  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
#but:hover {
  background: #071222;
  color: #fff;
}
#but:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}

a{
  text-decoration: none;
  color: #000000;

}
u{
  text-decoration: none;
}


.content-page {
  word-wrap: break-word;
}
.container {
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 3%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -18px;
}
*, *::before, *::after {
  box-sizing: border-box;
}

div {
  display: block;
}
h3{
  font-size: 1.5rem;
  font-weight: bold;
}
br{
  color: #000000;
}
strong{
  font-weight: bold;
}
ul{
  list-style-type: disc;
}
p{
  font-size: 18px;
}
