<div class="header">
  <div class="logo">
    <img src="/assets/lg.png" width="45px" height="60px" alt="">
  </div>
  <div class="n" style="right: 290px">FAQ</div>
  <div class="n" style="right: 425px">About us</div>
  <div class="n" style="right: 550px">Catalog</div>
  <div class="heart">
    <img src="/assets/heart.png" width="25px" height="23px" alt="">
  </div>
  <div class="cart">
    <img src="/assets/cart.png" width="25px" height="25px" alt="">
  </div>
  <div id="rectangle">
    <span class="login">Log in</span>
  </div>
</div>
