<div class="bd"><div class="rectangle">
  <div class='container2'>
    <img src="/assets/new-balance-991.jpg" alt="" class='iconDetails' />

    <div class="text">
      <div class="name">New balance 991</div>
      <p class="price">120$</p>
    </div>
  </div>
  <div class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Duis aute elit esse cillum dolore eu fugiat nulla pariatur.</div>
  <div class="reviews"><p class="reviews-text">Reviews </p> </div>
  <div class="rev-name column left">Name Surname</div>
  <div class="rev-text column right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua. Duis aute elit esse cillum dolore eu fugiat nulla pariatur.</div>
  <div class="rev-name column left">Name Surname</div>
  <div class="rev-text column right">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident anim id est laborum.</div>
  <div class="rev-name column left">Name Surname</div>
  <div class="rev-text column right">Consectetur libero id faucibus nisl. Lectus quam id leo in vitae. Cras adipiscing
    enim eu turpis egestas pretium. Id eu nisl nunc mi ipsum faucibus vitae. </div>
</div></div>
