*{
  outline: none;
}
.bd{
  background-color: #EFEFEF;
  width: 100%;
  height: 1000px;
  margin-top: -17px;
}
.rectangle{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 1000px;
  background: #EFEFEF;
  box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 1);
}
.name{
  padding-top: 50px;
  padding-left: 50px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #071222;
}
.price{
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  color: #071222;
  padding-left: 50px;
}
.iconDetails {
  border: 2px solid black;
  border-radius: 10px;
  float:left;
  width: 400px;
  height: 300px;
  margin-left: 50px;
  margin-top: 20px;
}
.container2 {
  width:100%;
  height:320px;
  padding:1%;

}
.text {
  float:left;
}
.text p {
  width:100%;
  float:left;
}
.txt{
  padding: 1%;
  margin-left: 50px;
  width: 400px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #071222;
  padding-bottom: 50px;
}
.reviews{
  width: 100%;
  background-color: #071222;
  height: 50px;
}
.reviews-text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-top: 10px;
  color: #EFEFEF;
}
.rev-name{
  height: 30px;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 45px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #071222;
}
.rev-text{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  height: 80px;
  color: #071222;
  padding-top: 20px;
}
.column {
  float: left;
  //padding: 10px;
}

.left {
  width: 250px;
}

.right {
  width: 600px;
}
