<div class="brand-filter">
	<div class="filter">
      <h4>Brand:</h4>
		<div class="brands">
            <div class="container"><label><input type="checkbox" name="brands[]" value="1"><span class="checkmark"></span> Nike</label></div>
            <div class="container"><label><input type="checkbox" name="brands[]" value="2"><span class="checkmark"></span> New Balance</label></div>
            <div class="container"><label><input type="checkbox" name="brands[]" value="3"><span class="checkmark"></span> ASICS</label></div>
            <div class="container"><label><input type="checkbox" name="brands[]" value="4"><span class="checkmark"></span> Adidas</label></div>
            <div class="container"><label><input type="checkbox" name="brands[]" value="5"><span class="checkmark"></span> Filla</label></div>
    </div>
  </div>
</div>
