<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div class="bcgd">
  <div class="name" style="margin-top: 120px;">About us</div>
  <img class="image" src="/assets/about_us.jpg" alt="" >
  <p class="description" style="padding-bottom: 5%">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed velit dignissim sodales
    ut eu. Velit euismod in pellentesque massa placerat. Dictum non consectetur a erat nam at.
    Id aliquet lectus proin nibh nisl condimentum id venenatis a. Volutpat commodo sed egestas
    egestas fringilla phasellus faucibus scelerisque eleifend. Fusce ut placerat orci nulla
    pellentesque dignissim enim sit. Nulla pharetra diam sit amet nisl suscipit adipiscing
    bibendum est. Mauris pellentesque pulvinar pellentesque habitant morbi. Morbi quis commodo
    odio aenean sed adipiscing. Sagittis vitae et leo duis. Arcu risus quis varius quam quisque.
    Eros in cursus turpis massa tincidunt dui. Viverra tellus in hac habitasse platea. Posuere
    ac ut consequat semper viverra nam libero. </p>
  <div class="team">
    <div class="name" style="padding-top: 4%; margin-bottom: 3%; color: #EFEFEF">Our team</div>
    <div class="row">
      <div class="column">
        <img src="/assets/avatar2.jpg" alt="" style="width:100%; border-radius: 50%;">
        <p class="surname">Name Surname</p>
        <p class="surname" style="padding-top: 0"><i>Position</i></p>
      </div>
      <div class="column">
        <img src="/assets/avatar2.jpg" alt="" style="width:100%; border-radius: 50%;">
        <p class="surname">Name Surname</p>
        <p class="surname" style="padding-top: 0"><i>Position</i></p>
      </div>
      <div class="column">
        <img src="/assets/avatar2.jpg" alt="" style="width:100%; border-radius: 50%;">
        <p class="surname">Name Surname</p>
        <p class="surname" style="padding-top: 0"><i>Position</i></p>
      </div>
    </div>
    <div class="row2">
      <div class="column2" style="padding-left: 30%">
        <img src="/assets/avatar2.jpg" alt="" style="width:100%; border-radius: 50%;">
        <p class="surname">Name Surname</p>
        <p class="surname" style="padding-top: 0"><i>Position</i></p>
      </div>
      <div class="column2" style="padding-left: 16%">
        <img src="/assets/avatar2.jpg" alt="" style="width:100%; border-radius: 50%;">
        <p class="surname">Name Surname</p>
        <p class="surname" style="padding-top: 0"><i>Position</i></p>
      </div>
    </div>
  </div>
  <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.363288994622!2d24.012331115
  228225!3d49.83563107939515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add7a2c390e71%3A0
  xce87318e879dce52!2z0LLRg9C70LjRhtGPINCh0YLQtdC_0LDQvdCwINCR0LDQvdC00LXRgNC4LCAxMiwg0JvRjNCy0ZbQsi
  wg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1suk!2sua!4v1586811429884!5m2!1suk!2sua"
                           width="600" height="330" frameborder="0" allowfullscreen="" aria-hidden="false"
                           tabindex="0" ></iframe></div>
  <div class="name" style="padding-top: 5%">Contact us!</div>
  <div class="info" style="float: right; width:300px"><i>Stepana Bandery St, 12<br>Lviv, Ukraine </i></div>
  <div class="info" style="font-weight: 500">Address: </div>
  <div class="info" style="float: right; width:300px; margin-top: 3%"><i>lorem.ipsum@gmail.com<br>lorem.ipsum2@gmail.com</i></div>
  <div class="info" style="font-weight: 500">Email: </div>
  <div class="info" style="float: right; text-align: left; width:300px; margin-top: 3.8%"><i>+38(096)776 54 34<br>+38(066)776 54 34<br>+38(063)776 54 34</i></div>
  <div class="info" style="font-weight: 500">Phone number: </div>
</div>
</body>
</html>
