
<h3><br>Ordering</h3><br><br>
<div *ngIf="checkValue">
  <div class="table">
    <button class="btn" *ngIf="checkOrder()"  (click)="onChange()"><h2>Look completed through</h2></button>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="cart" *ngIf="submit">

        <!-- Position Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"><img src="{{element.image}}" width="150px" height="150px" style="margin-top: 5px; margin-bottom: 5px">  </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Name </th>
          <td mat-cell *matCellDef="let element" > {{element.brand}} <br> {{element.model}} </td>
          <td mat-footer-cell *matFooterCellDef style="font-weight: bold"> Total </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Size </th>
          <td mat-cell *matCellDef="let element"> {{element.size}} </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity }} </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Cost </th>
          <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"><img (click)="remove(element.size_id) "src="../../../assets/bin.png" height="24" width="24" style="cursor: pointer"/></td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </div>
  </div>
  <div class="order-methods">
    <div class="panel-group">
      <h4 class="panel-title">
        Payment
        <img src="https://img.icons8.com/ios/500/money.png" class="img">
      </h4>
      <span> Postpaid upon receipt of the order at the Nova Poshta office. </span>
    </div>
    <br>
    <div class="panel-group">
      <h4 class="panel-title">

        Delivery
        <img src="https://img.icons8.com/ios/500/delivery.png" class="img">
      </h4>
      <ul>
        <li>Delivery is carried out by the Nova Poshta transport company, terms 1-3 days across Ukraine;</li>
        <li>After sending the order, you will receive an SMS with the number of the express invoice, according to which you will be able to track your order on the site novaposhta.ua and find out the exact cost of delivery;</li>
        <li>Upon receipt of the order you must have a passport or driver's license;</li>
      </ul>
    </div>
    <br>
    <div *ngIf="submit">
    <h4 style="margin-bottom: 20px">Order data <img (click)="view()" src="../../../assets/write_icon.png" height="24" width="24" style="cursor: pointer" /></h4>
      <form *ngIf="viewAddress" id="checkoutOrderForm" (ngSubmit)="onConfirm()" >
        <div class="panel-group">
          <div class="panel panel-default">
            <hr>
            <div class="panel-body horizontal-form">
              <div class="form-group row addresses-list">

              </div>
              <br>
              <div class="info">
                <div class="input">

                  <label>Name: </label>
                  <input  type="text" name="name" required [(ngModel)]="confirm.name" class="qwerty" placeholder="Gradient border focus fun" >

                </div>
                <br>
                <div class="input">

                  <label>Surname:</label>
                  <input type="text" name="surname" required [(ngModel)]="confirm.surname" class="qwerty" placeholder="Gradient border focus fun">

                </div>
                <br>
                <div class="input">
                  <br>
                  <label>City/Village: </label>
                  <input type="text" name="address" required [(ngModel)]="confirm.address" class="qwerty" placeholder="Gradient border focus fun">

                </div>
                <br>
                <div class="input"><br>

                  <label>Phone number:  </label>
                  <input type="text" name="phone" required [(ngModel)]="confirm.phone" value="+380 " maxlength="14" class="qwerty">

                </div>
                <br>
              </div>
            </div>
          </div>
        </div>
        <div class="button_div">
          <button class="button" type="submit">Submit</button>
        </div>
      </form></div>
    <div class="button_div" *ngIf="!viewAddress">
      <button class="button" routerLink="/shopping">Shopping</button>
    </div>
  </div>


</div>
<div class="table second" *ngIf="!checkValue" >
  <button class="btn" (click)="onChange()" ><h2>Current order</h2></button>
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="orders" *ngIf="panelOpenState">
        <!-- Position Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element" (click)="viewDetailsOrder(element.id)" [style]="" >
            <img *ngIf="!panelOpenState" src="../../../assets/arrow-right.png" height="20" width="20" >
            <img *ngIf="panelOpenState" src="../../../assets/arrow-down.png" height="20" width="20" >
            <!--                      <img src="../../../assets/arrow-down.png" height="240" width="240"/></td>-->
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Date </th>
          <td mat-cell *matCellDef="let element" > {{element.date}}  </td>
          <td mat-footer-cell *matFooterCellDef >  </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="order_status">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Order status </th>
          <td mat-cell *matCellDef="let element"> {{element.order_status}} </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="payment_status">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Payment status </th>
          <td mat-cell *matCellDef="let element"> {{element.payment_status == true ?  "Paymend" : "Not paymend"  }} </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Number items <br> in order </th>
          <td mat-cell *matCellDef="let element"> {{element.item }} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="ColumnsOrder"></tr>
        <tr mat-row *matRowDef="let row; columns: ColumnsOrder;"></tr>
      </table>
      <div *ngIf="panelOpenState" class="mih-heith"></div>

      <div  class="table2" *ngIf="!panelOpenState">
        <form class="order" style="">
          <table class="archiv" mat-table [dataSource]="orders" >
            <!-- Position Column -->
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element" (click)="viewDetailsOrder(element.id)" >
                <img *ngIf="!panelOpenState" src="../../../assets/arrow-right.png" height="20" width="20" >
                <img *ngIf="panelOpenState" src="../../../assets/arrow-down.png" height="20" width="20" >
                <!--                      <img src="../../../assets/arrow-down.png" height="240" width="240"/></td>-->
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Date </th>
              <td mat-cell *matCellDef="let element" > {{element.date}}  </td>
              <td mat-footer-cell *matFooterCellDef >  </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="order_status">
              <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Order status </th>
              <td mat-cell *matCellDef="let element"> {{element.order_status}} </td>
              <td mat-footer-cell *matFooterCellDef>  </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsOrder"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOrder;"></tr>


          </table>

        <table class="rows" mat-table [dataSource]="details">

          <!-- Position Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element"><img src="{{element.image}}" width="150px" height="150px" style="margin-top: 5px; margin-bottom: 5px">  </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Name </th>
            <td mat-cell *matCellDef="let element" > {{element.brand}} <br> {{element.model}} </td>
            <td mat-footer-cell *matFooterCellDef style="font-weight: bold"> Total </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Size </th>
            <td mat-cell *matCellDef="let element"> {{element.size}} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity }} </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef style="font-weight: bold"> Cost </th>
            <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element"></td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>

    </form></div>
  </div>
</div>

