@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,700i&display=swap%27');

*{
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
  font-style: normal;
  font-weight:500;
}
.log{
  position: absolute;
  width: 300px;
}
.triangle {
  margin-left: 175px;
  margin-bottom: -4px;
}

.container {
  padding: 16px;
  width: 300px;
  height: 300px;
  background: #EFEFEF;
  border-radius: 0 0 10px 10px;

}

h1{
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

input[type=text], input[type=password] {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  padding: 5px;
  margin: 5px 0 15px 5px;
  border: none;
  border-bottom: 1px solid gray;

  background: transparent ;
  outline: none;

}
label{
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  font-size: 14px;
}
h1{
  float: left;
  margin: 0;
}
input[type=text]:focus, input[type=password]:focus {
  text-decoration: underline;
}

.loginbtn {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
  background-color: #004BA8;
  color: white;
  padding: 7px 15px;
  margin: 8px 0;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  width: 40%;

  opacity: 0.9;
  font-size: 18px;
  font-weight: 300;
}

.registerbtn:hover {
  opacity:1;
}
.soc{
  text-align: center;
  margin-top: 10px;
}
.social{

  margin-left: 10px;
  margin-right: 10px;
  border: none ;
  cursor: pointer;
  background: transparent ;
  outline: none;

}

.signup{
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: black;
}
