<form *ngIf="showMePartially" style="float: right" >
  <div class="log">

      <img class="triangle" src="../../../../../assets/img_login/Polygon.png" height="15" width="35"/>

    <div class="container">
      <h1 >Sing in:</h1>
      <div>
        <input type="text" name="username" placeholder="Login " required [(ngModel)]="user.username">
      </div>
      <div>
        <input type="password" name="password" placeholder="Password " required [(ngModel)]="user.password">
      </div>

      <button (click)="onLogin()" type="submit" id="logbtn" class="loginbtn">Sign in</button>
      <div>
        <h1 style="float: none">Sign in with</h1>
        <div class="soc">
          <button class="social gl" id="googlebtn" (click)="signInWithGoogle()"><img
            src="../../../../../assets/img_login/google-logo.png" height="50" width="50"/></button>
          <button class="social fb" id="facebookbtn" (click)="signInWithFB()"><img
            src="../../../../../assets/img_login/facebook-logo.png" height="50" width="50"/></button>
        </div>
        <h1 style="float: none; margin-top:5px; " >New customer?<button class="signup" (click)="showRegistration()"> Sign up</button></h1>
        <app-registration [showMe]="showReg"></app-registration>
      </div>

    </div>
  </div>

</form>
