<div class="cont">

  <label class="container" >
    <input type="radio" name="size">
    <span class="checkmark"></span>
    <div class="top">36</div>
  </label>

  <label class="container">
    <input type="radio" name="size">
    <span class="checkmark"></span>
    <div class="top">37</div>
  </label>

  <label class="container">
    <input type="radio" name="size">
    <span class="checkmark"></span>
    <div class="top">38</div>
  </label>

  <label class="container">
    <input type="radio" name="size">
    <span class="checkmark"></span>
    <div class="top">39</div>
  </label>
  <label class="container">
    <input type="radio" name="size">
    <span class="checkmark"></span>
    <div class="top">40</div>
  </label>

  <label class="container">
    <input type="radio" name="size">
    <span class="checkmark"></span>
    <div class="top">41</div>
  </label>

  <label class="container">
    <input type="radio" name="size">
    <span class="checkmark"></span>
    <div class="top">42</div>
  </label>

  <label class="container">
    <input type="radio" name="size">
    <span class="checkmark"></span>
    <div class="top">43</div>
  </label>
  <label class="container">
    <input type="radio" name="size">
    <span class="checkmark"></span>
    <div class="top">44</div>
  </label>
  <label class="container">
    <input type="radio" name="size">
    <span class="checkmark"></span>
    <div class="top">45</div>
  </label>
</div>
