
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700,700i&display=swap');
*{
  font-family: Montserrat,sans-serif;
  font-size: 16px;
}
.favorite{
  position: absolute;
  z-index: 3;
  //width: 300px;
}
.triangle {
  margin-left: 175px;
  margin-bottom: -4px;
}

.container {
  padding: 16px;
  width: 280px;
  //height: 380px;
  box-shadow: 4px 6px 15px 0 rgba(0, 0, 0, 1);

  background: #EFEFEF;
  border-radius: 0 0 10px 10px;
}

label{
  color: black;
  font-weight: bolder;
  margin-bottom:20px ;
}

.item{
  margin-top: 10px;
  width: 100%;
  height: 100px;
  background-color: #6c757d;
  border-radius: 10px;

}
.underline{
  margin: 10px 0 10px 0;
}
.space-line{
  height: 1.5px;
  background: dimgray;
  width: 100%;
  border-radius: 50px;
}


.left-box{

  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  width: 40%;
  height: 100px;
  border-radius: 10px 0 0 10px;
  background-color: #071222;
}

.right-box {
  position: absolute;
  box-sizing: border-box;
  left: 40%;
  width: 55%;

  height: 100px;
  border-radius: 0 10px 10px 0;
  background-color: dimgray;

  .remove {
    position: absolute;
    border-radius: 10px;
    font-weight: bolder;
    left: 138px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding-bottom: 20px;
    //height: 10px;
    //width: 10px;
  }

  .name {
    text-align: center;
    margin-top: 20px;

    h1{
      margin-top: 5px;
      font-weight: bolder;
    }
  }
  .param{
    width: 160px;
    padding: 10px;
    display: inline-flex;

    .price h1{
      margin-left: 50px;
    }
  }
}
