<form  *ngIf="showFavorite">
  <div class="favorite">

    <img class="triangle" src="../../../../../assets/img_login/Polygon.png" height="15" width="35"/>

    <div class="container">
      <label > Favorite :</label>
      <div class="item">
        <form>
          <div class="left-box">

          </div>
          <div class="right-box">
          <button>✖</button>
          </div>

        </form>
      </div>
      <div class="item">
        <form>
          <div class="left-box">

          </div>
          <div class="right-box">
            <button>✖</button>
          </div>

        </form>
      </div>


      <div class="underline">
        <div class="space-line align-center"> </div>
      </div>

    </div>
  </div>

</form>
