@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,700i&display=swap');

.name {
  position: absolute;
  left: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #071222;
}

/* Customize the label (the container) */
.container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  align-items: center;
  color: #071222;
  padding: 0;
  margin: 3px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.cont {
  padding-top: 30px;
  width: 200px;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #FFFFFF;
  border: 0.5px solid #071222;
  box-sizing: border-box;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked */
.container input:checked ~ .checkmark {
  background: #FFFFFF;
  border: 2px solid #071222;
  box-sizing: border-box;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
