h4{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  padding-bottom: 10px;
}
*{
  font-family: Montserrat;
  outline: none;
}


.custom-slider{
  padding-left: 10px;
  width: 200px;
  height: 100px;
}


::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-pointer {
  width: 0;


  }
  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    left: -6px;

    background: #000000;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    top: 10px;
    margin-right: 2px;
  }
  .custom-slider .ng5-slider .ng5-slider-pointer.ng5-slider-active:after {
    background: #000000;
  }
  .custom-slider .ng5-slider .ng5-slider-pointer:hover:after{
    background: #000000;
  }
  .custom-slider .ng5-slider .ng5-slider-selection{
    background: #8d8d8d;
  }
  .custom-slider .ng5-slider .ng5-slider-bar {
    width: 100%;

  }
}









