
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700,700i&display=swap');
$primary-color: #071222;
$text-color: #EFEFEF;
$hover-color: gray;

* {
  font-family: Montserrat,sans-serif;
  font-size: 16px;
  color: $text-color;
  box-sizing: border-box;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: $primary-color;
  display: inline-flex;
  align-items: center;
}

.logo{
  margin-left: 70px;
  margin-top: 10px;

}

.toolbar {
  height: 80px;
  width: 100%;
  display: inline-flex;
  align-items: center;

}
.list{
  position: absolute;
  float: right;
  right: 15%;
  margin-right:150px ;
  margin-top: 0px;
  ul{
    margin-right: 50px;
  }
  li{

    display: inline-flex;
    margin-left: 50px;
    position: relative;

  }
  a{
    text-decoration: none;
  }
  a:hover{
    color: $hover-color;
  }
  a::before{
    content: '';
    display: block;
    height: 3px;
    background-color: $hover-color;
    position: absolute;
    bottom: 48px;
    width: 0%;

    transition: all ease-in-out 250ms;
  }

  a:hover::before{
    width: 100%;
  }
}

.icon {
  position: absolute;
  right: 13%;
  img{
    margin-right: 50px;
  }
}

.login [type="button"]{
  position: absolute;
  width: 10%;
  min-width: 120px;
  height: 40px;
  top: 20px;
  right: 3%;
  font-size: 18px;
  line-height: 22px;
  background: #004BA8;
  border-radius: 10px;
  border: none ;

  text-align: center;
}
.login :hover{
  background-color: $text-color;
  color: $primary-color;
  cursor: pointer;

}

@media (max-width: 780px){
  .logo{
    margin-left: 40px;
  }
  .list{
    display: none;
  }
  .icon {
    right: 130px;
    img{
      margin-right: 20px;
    }
  }


}


