
<header>

  <div class="logo">
    <a href=""><img
            width="60"
            alt="Logo"
            src="../../../../../assets/img_header/lg.png" height="60" width="45"
    /></a>
  </div>

  <div class="toolbar" >
    <div class="list">
      <ul >
        <li><a href="">Catalog</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">FAQ</a></li>
      </ul>

    </div>
    <div class="icon">
      <a href=""><img class="one" src="../../../../../assets/img_header/heart.png" height="26"/></a>
      <a href=""><img class="second" src="../../../../../assets/img_header/cart.png" height="28" /></a>
    </div>
    <div class="login">
      <button type="button" >Log in</button>
    </div>

  </div>
</header>

