.buy {
  margin-right: 307px;
  color: #EFEFEF;
  font-family: 'Montserrat', sans-serif;

  width: 180px;
  height: 50px;
  background: #004BA8;
  border-radius: 10px;
  border: none;
  margin-top: 25px;
}
.cart {
  margin-right: 307px;
  color: #071222;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background: rgba(0, 75, 168, 0.2);

  width: 140px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #071222;
  margin-top: 10px;
}
.heart{
  height: 27px;
  width: 30px;
  margin-top: 10px;
  margin-right: 157px;
}
