*{
  font-family: 'Montserrat', sans-serif;
}
.buy {
  margin-right: 307px;
  color: #EFEFEF;
  font-family: 'Montserrat', sans-serif;

  width: 180px;
  height: 50px;
  background: #004BA8;
  border-radius: 10px;
  border: none;
  margin-top: 25px;
}
.cart {

  color: #071222;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background: rgba(0, 75, 168, 0.2);

  width: 140px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #071222;
  margin-top: 10px;
}
.heart{
  height: 27px;
  width: 30px;
  margin-top: 13px;
  margin-left: 5px;
  cursor: pointer;
}

.favorite{
  background: none;
  border: none;
}
.quantity{
  margin-left: -35px;
  button{
    border-radius: 20px;
    border: 1px solid black;
    height: 35px;
    width: 35px;
    background: white;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  .minus{
    margin-left: 16px;
  }
  display: inline-flex;
  margin-top:-10px;
  .count{
    background-color: white;
    width: 60px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    h2{
      font-size: 26px;
      font-weight: bolder;
      margin-top: 5px;
    }

  }
}
button:hover{
  cursor: pointer;
  opacity: 0.8;
}
.count{
  font-family: 'Montserrat', sans-serif;
}
