@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,700i&display=swap');

*{
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
  font-weight:500;
  color: black;
}

.closebtn{
  padding: 3px;
  border: none ;
  cursor: pointer;
  background: transparent ;
  outline: none;
  float: right;
}
.registration_form{
  position: relative;
  padding: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* Add padding to containers */
.container {
  padding: 16px;
  width: 500px;
  height: 450px;
  background: #EFEFEF;
  border-radius: 10px;
}

h1{
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

input[type=text], input[type=password] {
  display: inline-block;
  vertical-align: middle;
  width: 65%;
  padding: 5px;
  margin: 5px 0 10px 0;
  border: 1px solid #000000;
  background: #ffffff;
}
label{
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  font-size: 14px;
}

input[type=text]:focus, input[type=password]:focus {
  text-decoration: underline;
}

.registerbtn {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
  background-color: #004BA8;
  color: white;
  padding: 6px 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
  font-size: 18px;
  font-weight: 300;
}

.registerbtn:hover {
  opacity:1;
}


.soc{
  text-align: center;
  margin-top: 10px;
}
.social{
  margin-left: 10px;
  margin-right: 10px;
  border: none ;
  cursor: pointer;
  background: transparent ;
  outline: none;

}
