
<div class="registration_form">

<form action="">
  <div class="container">
    <button class="closebtn">✖</button>
      <h1 style="margin-left: 19px">Registration</h1>
    <div>
      <label for="name">Your name:</label>
      <input type="text" name="name" required>
    </div>
    <div>
      <label for="surname">Your surname:</label>
      <input type="text" name="surname" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" name="email" required>
    </div>

    <div>
      <label for="psw">Password:</label>
      <input type="password" name="psw" required>
    </div>

    <button type="submit" class="registerbtn">Sign up</button>
    <div>
      <h1 style="float: none">Sign in with</h1>
      <div class="soc">
        <button class="social gl" id="googlebtn"><img
          src="../../../../../assets/img_registration/google-logo.png" height="50" width="50"/></button>
        <button class="social fb" id="facebookbtn"><img
          src="../../../../../assets/img_registration/facebook-logo.png" height="50" width="50"/></button>
      </div>
    </div>
  </div>

</form>

</div>

